<div class="page-area">
  <div class="row">
    <div class="col-md-6">
     <app-card>
      <h1>Laptop</h1>
      <a routerLink="laptop" class="btn btn-success">know more about laptop</a>
     </app-card>
  </div>
  <div class="col-md-6">
    <app-card>
      <h1>Mobile</h1>
      <a routerLink="laptop" class="btn btn-success">know more about mobile</a>
    </app-card>
 </div>
 <div class="col-md-6">
  <app-card>
    <h1>Television</h1>
    <a routerLink="laptop" class="btn btn-success">know more about tv</a>
  </app-card>
</div>
<div class="col-md-6">
  <app-card>
    <h1>Rafrigerator</h1>
    <a routerLink="laptop" class="btn btn-success">know more about Rafrigerator</a>
  </app-card>
</div>
  </div>
</div>

